body {
  background-color: #161e21;
  margin: 0px;
}

canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

.button {
  position: absolute;
  left: 32px;
  bottom: 32px;
  width: 64px;
  height: 64px;
  background-image: url('./assets/gui.png');
  cursor: pointer;
}

.button--active {
  background-position: 0 -64px;
}
